@page "/"
@inject IJSRuntime JS

<PinMap Data="@persons" PinLongitude="@(x => x.Longitude)" PinLatitude="@(x => x.Latitude)">
    <PinTemplate>
        <h4>@context.Name</h4>
        <p><strong>Mission:</strong> @context.Detail</p>
    </PinTemplate>
</PinMap>

@code{
    static List<Person> persons;
    static Index index;
    protected override void OnInitialized()
    {
        persons = new List<Person>();
        index = this;
    }
    protected override async Task OnInitializedAsync()
    {
        await JS.InvokeVoidAsync("getLocation");
    }

    [JSInvokable("SetUserLocation")]
    public static void SetUserLocation(double lattitude, double longitude)
    {
        persons.Add(new Person { Latitude = lattitude, Longitude = longitude });
        index.StateHasChanged();
    }

    [JSInvokable("SelectUser")]
    public static void SelectUser(string lattitude, string longitude)
    {
        NavMenu.Location = lattitude + " " + longitude;
    }
}
