@page "/"
@inject IJSRuntime JS

<PinMap Data="@agents" PinLongitude="@(x => x.Longitude)" PinLatitude="@(x => x.Latitude)">
    <PinTemplate>
        <h4>@context.Name</h4>
        <p><strong>Mission:</strong> @context.Mission</p>
    </PinTemplate>
</PinMap>

@code{
    [Parameter]
    public List<Agent> Agents { get; set; }

    static List<Agent> agents;
    static Index index;
    protected override void OnInitialized()
    {
        index = this;
    }
    protected override async Task OnInitializedAsync()
    {
        await JS.InvokeVoidAsync("getLocation");
    }

    [JSInvokable("SetUserLocation")]
    public static void SetUserLocation(double lattitude, double longitude)
    {
        agents.Add(new Agent { Latitude = lattitude, Longitude = longitude });
        index.StateHasChanged();
    }

    [JSInvokable("SelectUser")]
    public static void SelectUser(string lattitude, string longitude)
    {
        NavMenu.Location = lattitude + " " + longitude;
    }
}
