@page "/"
@inject IJSRuntime JS

<PinMap Data="@Agents" PinLongitude="@(x => x.Longitude)" PinLatitude="@(x => x.Latitude)" UserId="(x => x.Id)">
    <PinTemplate>
        <h4>@context.Name</h4>
        <p><strong>Mission:</strong> @context.Mission</p>
    </PinTemplate>
</PinMap>

@code{
    [CascadingParameter(Name = "Agents")]
    public List<Agent> Agents { get; set; }
    [CascadingParameter(Name = "AgentSelectedCallback")]
    public Action<Agent> AgentSelected { get; set; }
    [CascadingParameter(Name = "Update")]
    public Action Update { get; set; }

    static Index index;
    protected override void OnInitialized()
    {
        index = this;
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("getLocation");
        }
    }

    [JSInvokable("SetUserLocation")]
    public static void SetUserLocation(double lattitude, double longitude)
    {
        index.Agents.Add(new Agent { Latitude = lattitude, Longitude = longitude, Name = "YourSelf" });
        index.Update();
    }

    [JSInvokable("SelectUser")]
    public static async Task SelectUser(Guid userId)
    {
        index.AgentSelected(index.Agents.First(agent => agent.Id == userId));
    }
}
